<script async id="MathJax-script"
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
</script>
<link href="https://db.onlinewebfonts.com/c/8ec4c9ee1facfe4bd7ac04d52af457ea?family=ITC+Century+Std+Book"
      rel="stylesheet">
<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: "ITC Century Std Book", Times, serif;
        font-weight: normal;
        font-size: 1.3rem;
    }

    p, li {
        font-family: "Time new roman", Times, serif;
        color: #5a5a5a;
        font-size: 1.2rem;
    }

    li:has(h3)::marker {
        color: black;
    }

    .consMarker::before {
        content: "●" !important;
        color: red !important;
        font-weight: bold !important;
    }

    .prosMarker::before {
        content: "●" !important;
        color: green !important;
        font-weight: bold !important;
    }

    .explainMarker::before {
        content: "➞" !important;
        color: blue !important;
        font-weight: bold !important;
    }

    .questionMarker::before {
        content: "Ques." !important;
        font-weight: bold !important;
        margin-left: -2.7em !important;
    }

    .questionMarker {
        font-weight: bold !important;
    }

    .answerMarker::before {
        content: "Ans." !important;
        font-weight: bold !important;
        margin-left: -2.3em !important;
    }

    .warningMarker::before {
        content: "⚠️" !important;
    }

    .ideaMarker::before {
        content: "💡" !important;
    }

    .infoMarker::before {
        content: "𝐢" !important;
        color: rgb(33, 150, 243) !important;
    }

    .exampleMarker::before {
        content: "Example:" !important;
        color: rgb(33, 150, 243) !important;
    }

    #iv {
        display: none;
    }

    #cipher {
        display: none;
    }

    #b64Container {
        display: none;
    }

    /* Hide the break by default (Laptops/Tablets) */
    .mobile-only {
        display: none;
    }

    /* Show the break only on screens smaller than 768px (Phones) */
    @media (max-width: 767px) {
        .mobile-only {
            display: inline;
        }
    }


</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("ul li").forEach(li => {
            if (li.textContent.substr(0, 2) === "🔴") {
                li.textContent = li.textContent.replace('🔴', '');
                li.classList.add("consMarker");
            } else if (li.textContent.substr(0, 2) === "🟢") {
                li.textContent = li.textContent.replace('🟢', '');
                li.classList.add("prosMarker");
            } else if (li.textContent.substr(0, 2) === "➡️") {
                li.textContent = li.textContent.replace('➡️', '');
                li.classList.add("explainMarker");
            } else if (li.textContent.substr(0, 1) === "❓") {
                li.textContent = li.textContent.replace('❓', '');
                li.classList.add("questionMarker");
            } else if (li.textContent.substr(0, 3) === "🅰️") {
                li.textContent = li.textContent.replace('🅰️', '');
                li.classList.add("answerMarker");
            } else if (li.textContent.substr(0, 2) === "⚠️") {
                li.textContent = li.textContent.replace('⚠️', '');
                li.classList.add("warningMarker");
            } else if (li.textContent.substr(0, 2) === "💡") {
                li.textContent = li.textContent.replace('💡', '');
                li.classList.add("ideaMarker");
            } else if (li.textContent.substr(0, 2) === "ℹ️") {
                li.textContent = li.textContent.replace('ℹ️', '');
                li.classList.add("infoMarker");
            } else if (li.textContent.substr(0, 8) === "Example:") {
                li.textContent = li.textContent.replace('Example:', '‎‎‎‎‎‎‎‎‎‎');
                li.classList.add("exampleMarker");
            }

        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    const getCookie = n => document.cookie.split('; ').find(c => c.startsWith(n + '='))?.split('=')[1];
    const decryptData = (ciphertext, key, iv) => {

        const keyParsed = CryptoJS.enc.Utf8.parse(key);
        const ivParsed = CryptoJS.enc.Base64.parse(iv);

        const bytes = CryptoJS.AES.decrypt(ciphertext, keyParsed, {
            iv: ivParsed,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7
        });

        return bytes.toString(CryptoJS.enc.Utf8);
    };

    window.onload = function () {
        const secretKey = getCookie('mickey');
        const message = document.getElementById('cipher');
        const iv = document.getElementById('iv');
        if (message != null && iv != null) {
            document.getElementById('main-content').innerHTML = decryptData(message.innerText, secretKey, iv.innerText);
        }
        if (!window.location.href.includes('original')) {
            renderEncryptedImages(secretKey);
        }
    };

    async function renderEncryptedImages(secretKey) {
        try {
            console.log("Trying something");
            const images = document.querySelectorAll('img');

            for (const img of images) {
                let jsonpath = img.getAttribute('src');
                jsonpath = jsonpath.replace('original', 'test-jekyll-publishing/pages').replace('.png', '.json');

                const response = await fetch(jsonpath);

                if (!response.ok) {
                    throw new Error(`Failed to fetch JSON at ${jsonpath}: ${response.statusText}`);
                }
                const imgData = await response.json();
                // console.log(imgData);
                img.src = decryptData(imgData["ct_bytes"], secretKey, imgData["iv"]);
                // console.log(jsonpath);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
